[Unit]
Description=Ulanzi static webapp
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/busybox httpd -f -p 80 -h /var/www/ulanzi
Restart=always
RestartSec=2
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
